-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: uber_cueillette
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `agriculteur`
--

DROP TABLE IF EXISTS `agriculteur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `agriculteur` (
  `id_agriculteur` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(30) NOT NULL,
  `prenom` varchar(30) NOT NULL,
  `CIN` varchar(10) NOT NULL,
  `email` varchar(50) NOT NULL,
  `adresse` varchar(50) DEFAULT NULL,
  `pseudo` varchar(30) NOT NULL,
  `password` varchar(255) NOT NULL,
  PRIMARY KEY (`id_agriculteur`),
  UNIQUE KEY `CIN` (`CIN`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `pseudo` (`pseudo`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `agriculteur`
--

LOCK TABLES `agriculteur` WRITE;
/*!40000 ALTER TABLE `agriculteur` DISABLE KEYS */;
INSERT INTO `agriculteur` VALUES (6,'b','w','12345678','wefabziouich29@gmail.com','tunis bab saadoun 20 mars','w','');
/*!40000 ALTER TABLE `agriculteur` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `candidature`
--

DROP TABLE IF EXISTS `candidature`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `candidature` (
  `id_candidature` int(11) NOT NULL AUTO_INCREMENT,
  `id_offre` int(11) NOT NULL,
  `id_ouvrier` int(11) NOT NULL,
  `decision` varchar(10) DEFAULT 'encours',
  `date_candidature` timestamp NOT NULL DEFAULT current_timestamp(),
  `note` int(11) DEFAULT NULL,
  `commentaire` varchar(200) DEFAULT NULL,
  `remuneration` float DEFAULT NULL,
  PRIMARY KEY (`id_candidature`),
  KEY `id_offre` (`id_offre`),
  KEY `id_ouvrier` (`id_ouvrier`),
  CONSTRAINT `candidature_ibfk_1` FOREIGN KEY (`id_offre`) REFERENCES `offre` (`id_offre`),
  CONSTRAINT `candidature_ibfk_2` FOREIGN KEY (`id_ouvrier`) REFERENCES `ouvrier` (`id_ouvrier`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `candidature`
--

LOCK TABLES `candidature` WRITE;
/*!40000 ALTER TABLE `candidature` DISABLE KEYS */;
/*!40000 ALTER TABLE `candidature` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gouvernorat`
--

DROP TABLE IF EXISTS `gouvernorat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `gouvernorat` (
  `id_gouvernorat` int(11) NOT NULL AUTO_INCREMENT,
  `libelle` varchar(30) NOT NULL,
  PRIMARY KEY (`id_gouvernorat`)
) ENGINE=InnoDB AUTO_INCREMENT=71 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gouvernorat`
--

LOCK TABLES `gouvernorat` WRITE;
/*!40000 ALTER TABLE `gouvernorat` DISABLE KEYS */;
/*!40000 ALTER TABLE `gouvernorat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `offre`
--

DROP TABLE IF EXISTS `offre`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `offre` (
  `id_offre` int(11) NOT NULL AUTO_INCREMENT,
  `id_type_fruit` int(11) NOT NULL,
  `id_gouvernorat` int(11) NOT NULL,
  `adresse` varchar(50) DEFAULT NULL,
  `date_debut` date NOT NULL,
  `date_fin` date NOT NULL,
  `nombre_ouvriers` int(11) NOT NULL,
  `prix_journee` float NOT NULL,
  `date_limite` date NOT NULL,
  `id_agriculteur` int(11) NOT NULL,
  PRIMARY KEY (`id_offre`),
  KEY `id_type_fruit` (`id_type_fruit`),
  KEY `id_gouvernorat` (`id_gouvernorat`),
  KEY `id_agriculteur` (`id_agriculteur`),
  CONSTRAINT `offre_ibfk_1` FOREIGN KEY (`id_type_fruit`) REFERENCES `type_fruit` (`id_type_fruit`),
  CONSTRAINT `offre_ibfk_2` FOREIGN KEY (`id_gouvernorat`) REFERENCES `gouvernorat` (`id_gouvernorat`),
  CONSTRAINT `offre_ibfk_3` FOREIGN KEY (`id_agriculteur`) REFERENCES `agriculteur` (`id_agriculteur`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `offre`
--

LOCK TABLES `offre` WRITE;
/*!40000 ALTER TABLE `offre` DISABLE KEYS */;
/*!40000 ALTER TABLE `offre` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ouvrier`
--

DROP TABLE IF EXISTS `ouvrier`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ouvrier` (
  `id_ouvrier` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(30) NOT NULL,
  `prenom` varchar(30) NOT NULL,
  `CIN` varchar(30) NOT NULL,
  `email` varchar(50) NOT NULL,
  `imgName` varchar(100) DEFAULT NULL,
  `taille` int(11) DEFAULT NULL,
  `type_img` varchar(20) DEFAULT NULL,
  `photo` longblob DEFAULT NULL,
  `description` varchar(200) DEFAULT NULL,
  `pseudo` varchar(30) NOT NULL,
  `password` varchar(255) NOT NULL,
  PRIMARY KEY (`id_ouvrier`),
  UNIQUE KEY `CIN` (`CIN`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `pseudo` (`pseudo`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ouvrier`
--

LOCK TABLES `ouvrier` WRITE;
/*!40000 ALTER TABLE `ouvrier` DISABLE KEYS */;
/*!40000 ALTER TABLE `ouvrier` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `type_fruit`
--

DROP TABLE IF EXISTS `type_fruit`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `type_fruit` (
  `id_type_fruit` int(11) NOT NULL AUTO_INCREMENT,
  `libelle` varchar(20) NOT NULL,
  PRIMARY KEY (`id_type_fruit`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `type_fruit`
--

LOCK TABLES `type_fruit` WRITE;
/*!40000 ALTER TABLE `type_fruit` DISABLE KEYS */;
INSERT INTO `type_fruit` VALUES (1,'Olive'),(2,'Tomate'),(3,'Agrume'),(4,'Raisin'),(5,'Datte'),(6,'Olive'),(7,'Tomate'),(8,'Agrume'),(9,'Raisin'),(10,'Datte'),(11,'Olives'),(12,'Agrumes'),(13,'Tomates'),(14,'Dattes'),(15,'Figues');
/*!40000 ALTER TABLE `type_fruit` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-25 15:34:24
